/Tugas 1/Balok_dan_Tabung/build/
/Tugas 1/Balok_dan_Tabung/dist/
/Tugas 2 - Kalkulator Balok/Kalkulator_Balok/nbproject/private/
/Tugas 2 - Kalkulator Balok/Kalkulator_Balok/build/
/Tugas 2 - Kalkulator Balok/Kalkulator_Balok/dist/
/Login_IF_E/nbproject/private/
/Kuis_IF_A/nbproject/private/
/Kuis_IF_A/build/
/Kuis_IF_A/dist/
/Kuis_IF_B/nbproject/private/
/Kuis_IF_B/build/
/Kuis_IF_B/dist/
